body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87ceeb; 
}

nav {
    background-color: #4caf50; 
    height: 70px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center; 
}

nav ul li {
    margin-left: 40px; 
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    font-size: 18px;
    display: flex;
    align-items: center;
}

nav ul li a:hover {
    color: #ccc;
}

nav ul li a i {
    margin-right: 5px;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    height: 30px; /* Reduced size of the logo */
    width: auto;
    margin-right: 10px;
}

nav .logo p {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
